<!-- Login -->
<section class="vh-100">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-xl-9">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4 col-lg-6">
              <img
                class="img-fluid"
                src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-2650.jpg?w=740&t=st=1682081909~exp=1682082509~hmac=28a4193142064138f62f8ba0637224cdf47879ae87c04fb55d7782d86f0dde06"
                alt=""
              />
            </div>
            <!-- Form section -->
            <div class="col-md-6 col-lg-6 align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: orange"
                    ></i>
                    <span class="h1 fw-bold mb-0">Login</span>
                  </div>
                  <h5 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px">
                    Login into your Account
                  </h5>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
